################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/XeGo-Microservices/.vs/
/BackEnd/XeGo-Microservices/obj/
/BackEnd/XeGo-Microservices/bin/
/BackEnd/XeGo-Microservices/Services/Auth/XeGo.Services.Auth.API/bin/
/BackEnd/XeGo-Microservices/Services/Auth/XeGo.Services.Auth.API/obj/
/BackEnd/XeGo-Microservices/Services/CodeValue/XeGo.Services.CodeValue.API/bin/
/BackEnd/XeGo-Microservices/Services/CodeValue/XeGo.Services.CodeValue.API/obj/
/BackEnd/XeGo-Microservices/Services/CodeValue/XeGo.Services.CodeValue.Grpc/bin/
/BackEnd/XeGo-Microservices/Services/CodeValue/XeGo.Services.CodeValue.Grpc/obj/
/BackEnd/XeGo-Microservices/Services/Location/XeGo.Services.Location.API/bin/
/BackEnd/XeGo-Microservices/Services/Location/XeGo.Services.Location.API/obj/
/BackEnd/XeGo-Microservices/Services/Location/XeGo.Services.Location.Grpc/bin/
/BackEnd/XeGo-Microservices/Services/Location/XeGo.Services.Location.Grpc/obj/
/BackEnd/XeGo-Microservices/Services/Media/XeGo.Services.Media.API/bin/
/BackEnd/XeGo-Microservices/Services/Media/XeGo.Services.Media.API/obj/
/BackEnd/XeGo-Microservices/Services/Driver/XeGo.Services.Driver.API/bin/
/BackEnd/XeGo-Microservices/Services/Driver/XeGo.Services.Driver.API/obj/
/BackEnd/XeGo-Microservices/Services/Coupon/XeGo.Services.Coupon.API/bin/
/BackEnd/XeGo-Microservices/Services/Coupon/XeGo.Services.Coupon.API/obj/
/BackEnd/XeGo-Microservices/Services/Rider/XeGo.Services.Rider.API/bin/
/BackEnd/XeGo-Microservices/Services/Rider/XeGo.Services.Rider.API/obj/
/BackEnd/XeGo-Microservices/Services/Ride/XeGo.Services.Ride.API/bin/
/BackEnd/XeGo-Microservices/Services/Ride/XeGo.Services.Ride.API/obj/
/BackEnd/XeGo-Microservices/Services/Ride/XeGo.Services.User.API/bin/
/BackEnd/XeGo-Microservices/Services/Ride/XeGo.Services.User.API/obj/
/BackEnd/XeGo-Microservices/Shared/XeGo.Shared.Lib/bin/
/BackEnd/XeGo-Microservices/Shared/XeGo.Shared.Lib/obj/
/BackEnd/XeGo-Microservices/Shared/XeGo.Shared.GrpcConsumer/bin/
/BackEnd/XeGo-Microservices/Shared/XeGo.Shared.GrpcConsumer/obj/
/BackEnd/XeGo-Microservices/Shared/XeGo.Shared.Log.Producer/bin/
/BackEnd/XeGo-Microservices/Shared/XeGo.Shared.Log.Producer/obj/