################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/XeGo-Microservices/.vs/
/BackEnd/XeGo-Microservices/Services/Location/Location.API/bin/
/BackEnd/XeGo-Microservices/Services/Location/Location.API/obj/
/BackEnd/XeGo-Microservices/Services/Location/Location.API/Debug/